body{
    background-color: dimgrey;
}
.container{
    border: 2px solid;
    width: 300px;
    margin: 0 auto;
    background-color: lavender;
    padding: 2px;
    
}
table{
    width: 100%;
}
td{
    width: 25%;
}
button{
    width: 100%;
    background-color: lavenderblush;
    height: 70px;
    font-size: 30px;
    border-radius: 10px;

}
input{
    width: 97%;
    height: 90px;
    border-radius: 10px;
    font-size: 26px;
    text-align: right;
}
.plus{
    min-height: 145px;
    border-radius: 10px;
    background-color: rgba(24, 194, 224, 0.911)
}
